<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.40.0" targetFramework="net462" />
  <package id="Azure.Identity" version="1.11.4" targetFramework="net462" />
  <package id="Azure.Storage.Blobs" version="12.19.1" targetFramework="net462" />
  <package id="Azure.Storage.Common" version="12.18.1" targetFramework="net462" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="FakeItEasy" version="6.0.0" targetFramework="net462" />
  <package id="FakeXrmEasy.Abstractions.v9" version="2.5.0" targetFramework="net462" />
  <package id="FakeXrmEasy.Core.v9" version="2.5.1" targetFramework="net462" />
  <package id="FakeXrmEasy.Messages.v9" version="2.5.0" targetFramework="net462" />
  <package id="FakeXrmEasy.Plugins.v9" version="2.5.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.52" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.34" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.42" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.1.45" targetFramework="net462" />
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net462" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.61.3" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.6.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.ClientModel" version="1.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net462" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net462" />
  <package id="System.IO.Hashing" version="6.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="6.0.7" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="xunit" version="2.4.1" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net462" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net462" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net462" />
  <package id="xunit.core" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net462" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net462" />
</packages>